<div class="flex-col section">

    <div class="flex-col plug">
        <h2></h2>
    </div>

    <div class="h-100 content">
        <div class="flex-col left-col">
            <img class="diploma__img" alt="diploma image"
                src="https://res.cloudinary.com/dxunxtt1u/image/upload/diploma_tk8dre.png">
            <div class="education">
                <h4>Образование</h4>
                <span>Санкт-Петербургский государственный институт культуры</span>
                <ul>
                    <li>Факультет музыкального искусства эстрады</li>
                    <li>Кафедра эстрадно-джазового вокала</li>
                </ul>
            </div>
        </div>

        <div class="flex-col center-col mid-col">
            <div class="flex-col w-100">
                <h2>[Tutor's Name]</h2>
                <span>Певица, композитор, музыкант, автор песен</span>
            </div>
            <!-- <div style="max-width: 450px;"> -->
            <div>
                <h4>Бэкграунд</h4>
                <span>Основала собственную студию <span class="sigma-font">ΣΙΓΜΑ</span> в 2020 году.</span>
                <h4>Достижения</h4>
                <ul>
                    <li>За время моей практики обучила более 100 учеников самых разных уровней.</li>
                    <li>Владею несколькими музыкальными инструментами:</li>
                </ul>
            </div>
            <img class="img-action" alt="tutor in action"
                src="https://res.cloudinary.com/dxunxtt1u/image/upload/lesson3_yvbe9q.png">
        </div>

        <div class="flex-col center-col right-col">
            <img class="img-cover" alt="teacher image bckg-transparent"
                src="https://res.cloudinary.com/dxunxtt1u/image/upload/cat_S_sing3_blank_mirror_ktur4y.png">
        </div>
    </div>

</div>