.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 1fr;
    padding-left: 5%;
}

.left-col {
    grid-column: span 3;
    padding: 2vh 0;
}

.education {
    &__diploma {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__text {
        max-width: 400px;
        padding: 10px 0;
        background: #ddeec4;
        box-shadow: 0 0 4px var(--dark-alt-color);
        border-radius: 4px;
        gap: 10px;
    }

    &__title {
        margin: 0;
        padding: 0 20px;
        text-align: center;
        font-size: calc(22px + 0.2vw);

    }

    &__unvrs {
        padding: 0 10px;
        text-align: center;
        font-size: calc(18px + 0.2vw);
    }

    &__list {
        margin: 0;
        padding: 0;
        font-size: calc(16px + 0.2vw);
        gap: 10px;

        li {
            text-align: start;
        }
    }

    &__pillar-top {
        width: 80%;
        max-width: 300px;
    }
}

.mid-col {
    grid-column: span 6;
    padding: 2vh 0;
    z-index: 1;

    img {
        border-radius: 4px;
    }
}

.title {
    padding: 10px 0;
    background: #d7d695;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}

.name {
    font-size: calc(26px + 0.25vw);
    height: unset;
}

.subtitle {
    text-align: center;
    color: var(--dark-alt-color);
    font-style: italic;
    font-size: calc(16px + 0.2vw);
}

.background {
    max-width: 600px;
    min-width: 250px;
    margin: 0 20px;
    padding: 10px 0;
    gap: 12px;
    background: #ddeec4;
    box-shadow: 0 0 4px var(--dark-alt-color);
    border-radius: 4px;
    font-size: calc(16px + 0.2vw);
}

.sigma-font {
    font-size: calc(18px + 0.2vw);
}

.right-col {
    grid-column: span 3;
}

.img-action {
    width: calc(100% - 40px);
    min-width: 250px;
    max-width: 400px;
}

.img-cover {
    height: calc(100vh - 80px);
    object-fit: cover;
    align-self: end;

    @media (max-width: 1024px) {
        max-width: 300px;
    }

    @media (max-width: 768px) {
        height: unset;
        max-height: calc(100vh - 80px);
    }

    @media (max-width: 600px) {
        max-width: 280px;
    }
}

.content-mobile {
    display: none;

    @media (max-width: 768px) {
        display: flex;
        gap: 20px;
    }
}

li {
    padding: 0 20px;
    line-height: 20px;
    list-style-type: none;
    text-align: justify;

    &::before {
        content: '';
        display: inline-block;
        width: 8px;
        height: 8px;
        margin-right: 10px;
        background-color: var(--light-alt-color);
        transform: rotate(45deg);
    }
}

.upper__display {
    display: none;
}

@media (max-width: 1024px) {
    .left-col {
        grid-column: span 4;
    }

    .right-col {
        grid-column: span 2;
    }
}

@media (max-width: 768px) {
    .section {
        height: unset;
    }

    .content {
        display: none;
    }

    .background {
        min-width: none;
        margin-bottom: 4px;
        font-size: 18px;
    }

    .sigma-font {
        font-size: 20px;
    }

    .education {
        &__title {
            font-size: 24px;
        }

        &__unvrs {
            font-size: 20px;
        }

        &__list {
            font-size: 18px;
        }

        &__text {
            max-width: 350px;
        }

        &__diploma {
            max-width: 350px;
            border-radius: 4px;
        }

        &__pillar-top {
            margin: 0;
        }

        &__wrapper {
            gap: 4px;
        }

        ul {
            margin: 0;
        }
    }

    .upper {
        display: grid;
        grid-template-columns: repeat(12, 1fr);

        &__display {
            grid-column: span 6;
            display: flex;
            align-items: flex-start;
            padding-left: 40px;
            gap: 20px;
            z-index: 1;
        }

        &__img {
            grid-column: span 6;
            justify-content: flex-end;
        }
    }

    .display {
        display: none;
    }

    .title {
        margin-right: 80px;
        align-self: center;

        .name {
            margin-left: 80px;
            font-size: 28px;
        }

        .subtitle {
            margin-left: 80px;
            font-size: 17px;
        }
    }
}

@media (max-width: 600px) {
    .upper {
        display: flex;
        flex-direction: column;

        &__display {
            display: none;
        }
    }

    .display {
        display: flex;
    }

    .title {
        margin-right: 40px;

        .name {
            margin-left: 40px;
        }

        .subtitle {
            margin-left: 30px;
        }
    }

    .education__text {
        max-width: none;
        border-radius: 0;
    }
}