mat-panel-title {
    white-space: nowrap;
}

mat-expansion-panel {
    margin-top: 20px;
    color: var(--light-color);
}

mat-expansion-panel-header {
    background: var(--light-brand-color) !important;
    height: 40px !important;
    font-size: 18px;
    border-radius: 0;
}

::ng-deep .mat-expansion-panel-body {
    background: var(--light-color) !important;
    color: #000;
    padding: 0 !important;
}

// USER CARD
.sidenav-container {
    height: 500px;
    // height: 100vh;
    border: 2px solid var(--brand-color);
    background: #fff;
}

.student-drawer {
    background: var(--bright-alt-color);
    box-sizing: border-box;
    padding: 20px;
}

.back {
    padding: 4px;
    font-size: 18px;
    justify-content: flex-start;
    width: fit-content;
    gap: 10px;
    border-radius: 8px;
    transition: transform 0.3s ease;
    cursor: pointer;

    &:hover {
        transform: scale(1.1);
    }
}

h3 {
    margin: 0;
    text-align: center;
}

p {
    font-size: 16px;
    line-height: 1.6;
    margin: 0;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

mat-divider {
    margin: 8px 0;
}


.selected-user {
    &__details {
        flex: 1;
    }

    &__classes {
        flex: 1;
    }
}

.form-group {
    &:not(:first-child) {
        margin-top: 8px;
    }

    input,
    textarea {
        font-family: Roboto, "Helvetica Neue", sans-serif;
        padding: 8px;
        border: 1px solid #ccc;
        background: var(--light-color);
        border-radius: 4px;
        font-size: 1em;

        &:read-only {
            background: var(--light-color);
        }
    }

    textarea {
        font-size: 14px;
    }
}

.user-group {
    gap: 10px;

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 8px;
        object-fit: cover;
    }

    &__name {
        flex-grow: 1;
    }
}

.delete-btn {
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
}

// MAIN CONTENT
.sidenav-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.cdk-header-row {
    background: var(--light-brand-color);
    font-size: 16px;
    font-weight: 600;
}

.mat-mdc-row,
.mdc-data-table__content {
    background: #fff !important;
    overflow: auto;
}

th {
    max-width: 150px;
    text-align: center;
    font-family: "Didact Gothic", sans-serif;
}

td {
    max-width: 150px;
    text-align: center;
    font-family: "Didact Gothic", sans-serif;
}

td.mat-cell {
    vertical-align: middle;
}

.mdc-data-table__cell {
    padding: 0 8px !important;
}

.user-avatar {
    width: 40px;
    height: 40px;
    border-radius: 4px;
    object-fit: cover;
}

.clickable {
    cursor: pointer;
    color: var(--brand-color);
    text-decoration: underline;
    font-size: 16px;

    &:hover {
        text-decoration: none;
    }
}

tr {
    &:hover {
        background-color: var(--light-color) !important;
    }
}

tr.selected {
    background-color: var(--light-color) !important;
}

@media (max-width: 768px) {
    .special-group {
        flex-direction: column;
    }

    .membership-group {
        width: 100%;
    }

    .student-drawer {
        width: 100%;
    }

    table {
        min-width: 600px;
    }
}