.content {
    display: grid;
    grid-template-columns: 4fr 6fr;
    grid-template-rows: 1fr;
    gap: 5%;
    padding: 0 15%;
}

.wrapper {
    padding: 80px 0;

    h3 {
        margin: 0;
        font-size: 28px;
        font-weight: 600;
    }

    h4 {
        margin: 0;
        font-size: 18px;
        margin-bottom: 6px;

        &:not(:first-child) {
            margin-top: 12px;
        }
    }
}

.social {
    span {
        font-size: 28px;
    }
}

app-mapycz {
    border: 1px solid blue;
    border-radius: 20px;
}
