<div class="section">

    <div class="flex-col plug">
        <h2>Contact me</h2>
    </div>

    <div class="h-100 content">

        <div class="contact-info">
            <h3>КОНТАКТЫ</h3>

            <h4>Адрес:</h4>
            <p>123 Vocal Lane, Music City</p>

            <h4>Телефон:</h4>
            <p>Phone: (123) 456-7890</p>

            <h4>Социальные сети:</h4>

            <h4>e-mail:</h4>
            <p>Email: <a href="mailto:info@sigmavocalplace.com">{{"info@sigmavocalplace.com"}}</a></p>
        </div>

        <!-- div maps -->
        <app-mapycz></app-mapycz>

    </div>

</div>

<!-- <form>
    <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput placeholder="Your name">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Email</mat-label>
        <input matInput placeholder="Your email">
    </mat-form-field>
    <mat-form-field class="full-width">
        <mat-label>Message</mat-label>
        <textarea matInput placeholder="Your message"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary">Send</button>
</form> -->