.content {
    display: grid;
    padding: 2vh 5%;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: 1fr auto;
}

.wrapper {
    gap: 40px;
    grid-column: span 4;

    h3 {
        margin: 0;
        font-size: 28px;
        font-weight: 600;
    }

    h4 {
        margin: 12px 0 6px 0;
        font-size: 22px;

        &:not(:first-child) {
            margin-top: 12px;
        }
    }

    span {
        font-size: 18px;
    }
}

.sigma-font {
    font-size: 28px !important;
}

.social-media {
    gap: 10px;

    h4 {
        margin: 0;
    }
}

.mapy-desktop {
    grid-column: span 6;
    margin-bottom: 2vh;
}

.mapy-mobile {
    display: none;
}

app-mapycz {
    border-radius: 8px;
}

.copyright {
    grid-column: span 10;
    font-size: 16px;

    a {
        color: #7195A9;
        font-weight: bold;
        transition: color 1s ease-in-out;

        &:hover {
            color: #F03691;
        }
    }
}

br {
    display: none;
}

@media (max-width: 768px) {
    .section {
        height: unset;
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 0 20px;
    }

    .wrapper {
        padding: 0;
        gap: 20px;
    }

    .mapy-mobile {
        display: flex;
        aspect-ratio: 3 / 2;
    }

    .mapy-desktop {
        display: none;
    }

    .copyright {
        text-align: center;
        margin: 16px 0;

        a {
            font-size: 18px;
        }
    }

    br {
        display: block;
    }
}