.edit-class-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 20px;

    .form-group {
        display: flex;
        flex-direction: column;

        label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        input,
        select {
            padding: 8px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 1em;

            &:focus {
                border-color: #3f51b5;
                outline: none;
            }

            &[readonly] {
                background-color: #f9f9f9;
            }
        }

        select {
            height: 35px;
        }
    }
}