<div class="flex-col section didact-gothic-regular">
    <div class="flex-col plug">
        <h2></h2>
    </div>

    <!-- For Desktop Version -->
    <div class="wrapper h-100 flex-row center-row desktop" *ngIf="!isMobile">

        <!-- Card template -->
        <mat-card *ngFor="let card of cards" class="h-100 card" [class.selected]="selectedCardId === card.id"
            (click)="selectCard(card.id)">

            <!-- Card text content -->
            <div class="w-h-100 card__background" [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
            <mat-card-header class="card__header center-row">
                <mat-card-title>{{ card.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card__content">
                <span *ngIf="selectedCardId === card.id">{{ card.contentLong }}</span>
                <span *ngIf="selectedCardId !== card.id">{{ card.contentShort }}</span>
            </mat-card-content>

            <!-- Arrows display on the edge cards -->
            <div *ngIf="card.id === 0 && selectedCardId !== card.id" class="arrow-layer center-all"
                (click)="prevImage($event)">
                <mat-icon>arrow_back_ios_new</mat-icon>
            </div>
            <div *ngIf="card.id === 2 && selectedCardId !== card.id" class="arrow-layer center-all"
                (click)="nextImage($event)">
                <mat-icon>arrow_forward_ios_new</mat-icon>
            </div>

        </mat-card>
    </div>

    <!-- For Mobile Version -->
    <div class="flex-col h-100 swiper-container swiper-about" *ngIf="isMobile">
        <div class="swiper-wrapper">
            <mat-card class="h-100 swiper-slide about-slide" *ngFor="let card of cards">
                <img [src]="card.image" alt="icon" class="w-h-100 about-slide__background">
                <mat-card-header class="flex-row center-col about-slide__header">
                    <mat-card-title>{{ card.title }}</mat-card-title>
                </mat-card-header>
                <mat-card-content class="about-slide__content">
                    <span>{{ card.contentLong }}</span>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
    <div class="swiper-controls" *ngIf="isMobile">
        <div class="swiper-button-prev"></div>
        <div class="swiper-button-next"></div>
    </div>
</div>