<div class="flex-col section">

    <div class="flex-col plug">
        <h2>About my studio</h2>
    </div>

    <div class="flex-col h-100 embla" #embla>
        <div class="embla__viewport h-100">
            <div class="embla__container h-100 flex-row center-row">
                <div *ngFor="let card of cards; let i = index" class="h-100 embla__slide card"
                    [class.selected]="selectedCardIndex === i" (click)="selectCard(i)">
                    <mat-card class="h-100 card">
                        <div class="w-h-100 card__background"
                            [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
                        <mat-card-header class="card__header">
                            <mat-card-title>{{ card.title }}</mat-card-title>
                        </mat-card-header>
                        <mat-card-content class="card__content">
                            <span *ngIf="selectedCardIndex === i">{{ card.contentLong }}</span>
                            <span *ngIf="selectedCardIndex !== i">{{ card.contentShort }}</span>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>

        <button class="embla__prev" (click)="prevImage()" [disabled]="selectedCardIndex < 1">prev</button>
        <button class="embla__next" (click)="nextImage()" [disabled]="selectedCardIndex > 1">next</button>
    </div>

    <!-- add links to the gallery -->

</div>