<div class="flex-col section">

    <div class="flex-col plug">
        <h2>About my studio</h2>
    </div>

    <div class="wrapper h-100 flex-row center-row">

        <!-- Card template -->
        <mat-card *ngFor="let card of cards; let i = index" class="h-100 card"
            [class.selected]="selectedCardIndex === i" (click)="selectCard(i)">

            <!-- Card text content -->
            <div class="w-h-100 card__background" [ngStyle]="{'background-image': 'url(' + card.image + ')'}"></div>
            <mat-card-header class="card__header">
                <mat-card-title>{{ card.title }}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="card__content">
                <span *ngIf="selectedCardIndex === i">{{ card.contentLong }}</span>
                <span *ngIf="selectedCardIndex !== i">{{ card.contentShort }}</span>
            </mat-card-content>

            <!-- Arrows display on the edge cards -->
            <div *ngIf="(i === 0 || i === 2) && selectedCardIndex !== i && i === 0" class="arrow-layer"
                (click)="prevImage($event)">
                <mat-icon>arrow_back_ios_new</mat-icon>
            </div>
            <div *ngIf="(i === 0 || i === 2) && selectedCardIndex !== i && i === 2" class="arrow-layer"
                (click)="nextImage($event)">
                <mat-icon>arrow_forward_ios_new</mat-icon>
            </div>

        </mat-card>
    </div>

    <!-- use the embla gallery component for the mobile version -->

</div>