.wrapper {
  display: flex;
  justify-content: space-between;
  gap: 4px;
  user-select: none;
  -webkit-touch-callout: none;
}

.card {
  flex: 0 0 200px;
  transition: flex 0.3s ease;
  cursor: pointer;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  color: var(--light-color);

  &.selected {
    flex: 0 0 300px;
    flex-grow: 2;
  }

  &__background {
    position: absolute;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  &__header,
  &__content {
    position: relative;
    z-index: 1;
  }

  &__header {
    display: flex;
    justify-content: center;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px 20px;
    font-size: 22px;
  }

  &__content {
    background: rgba(0, 0, 0, 0.5);
    padding: 20px 40px 40px 40px;
    transition: background 0.3s ease;
    font-size: 18px;
    text-align: justify;

    span {
      display: block;
    }
  }

  .arrow-layer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background 0.3s ease;

    mat-icon {
      color: var(--light-color);
      opacity: 0.8;
      transition: transform 0.3s, opacity 0.3s;
      font-size: 40px;
      height: 40px;
      width: 40px;
    }

    &:hover {
      background: rgba(0, 0, 0, 0.5);

      mat-icon {
        transform: scale(1.2);
        opacity: 1;
      }
    }
  }
}

@media (max-width: 768px) {
  .section {
      // height: unset;
      padding: 4px 0;
  }
}