.embla {
    overflow: hidden;
    width: 100%;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__container {
    display: flex;
    user-select: none;
}

.embla__slide {
    flex: 0 0 100%;
    padding: 10px;
}