<mat-toolbar>
    <div class="flex-col center-row logo sigma-font">
        <span class="logo__label">ΣΙΓΜΑ</span>
        <span class="logo__sublabel">the vocal place</span>
    </div>

    <span class="spacer"></span>
    <button mat-raised-button color="primary" routerLink="/">Home</button>
    <button mat-raised-button routerLink="/about">About</button>
    <button mat-raised-button routerLink="/services">Services</button>
    <button mat-raised-button routerLink="/contact">Contact</button>
</mat-toolbar>