:host {
    display: block;
}

mat-toolbar {
    height: 80px !important;
    padding: 0;
    align-items: flex-start;
    z-index: 21;
}

.menu-icon {
    display: none;
}

.semi-transparent {
    opacity: 0.5;
    height: 55px !important;

    &:hover {
        opacity: 1;
        height: 80px !important;
    }
}

.logo {
    width: 200px;
    background: var(--brand-color) !important;
    color: var(--light-color);
    cursor: pointer;
    justify-content: center;
    transition: opacity 0.5s ease-in-out;

    &__label {
        font-size: 40px;
        line-height: 40px;
    }

    &__sublabel {
        font-size: 17px;
        line-height: 18px;
    }
}

.menu {
    background: var(--brand-color) !important;
    color: var(--light-color);

    transition:
        background-color 0.5s ease-in-out,
        opacity 0.3s ease-in-out,
        height 0.25s ease-in-out;

    flex-grow: 1;
    height: 100%;

    button {
        flex-grow: 1;
        height: 100%;
        max-height: none;
        border-radius: 0;
        font-size: 18px;
        text-transform: uppercase;
    }

    .special {
        background: var(--alt-color);
    }

    .highlighted {
        background-color: var(--dark-brand-color);
        transform: translateY(-10px);
        transition: transform 0.3s ease;

        &:hover {
            background-color: var(--dark-brand-color) !important;
        }
    }
}

app-social-media {
    width: 200px;
    background: var(--brand-color) !important;

    ::ng-deep .social {
        gap: 10px;

        &__item {
            width: 40px !important;
            height: 40px !important;

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.dropdown-background {
    display: none;
}

.menu-dropdown {
    display: none;
}

@media (max-width: 768px) {
    mat-toolbar {
        justify-content: space-between;
        background: var(--brand-color) !important;
    }

    .menu-icon {
        width: 180px;
        display: flex;
        color: var(--light-color);

        button {
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }

        .mat-mdc-icon-button:hover:not(.mat-button-disabled) {
            background-color: transparent;
        }

        mat-icon {
            font-size: 40px;
            width: 40px;
        }
    }

    .logo {
        width: unset;
        flex-grow: 1;
    }

    .menu {
        display: none;
    }

    app-social-media {
        width: unset;

        ::ng-deep .social {
            width: unset;
            margin-right: 20px;
            margin-left: 20px;
        }
    }

    .dropdown-background {
        display: none;
        justify-content: flex-end;
        position: fixed;
        top: 80px;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0);
        z-index: 19;
        cursor: pointer;
        height: calc(100% - 80px);
        transition: background 0.3s ease;
    }

    .menu-dropdown {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: fixed;
        top: 80px;
        // left: 0;
        left: -75%;
        height: inherit;
        width: 75%;
        background: var(--light-brand-color);
        color: var(--light-color);
        z-index: 20;
        transition: left 0.3s ease;

        button {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            padding-left: 20px;
            flex-grow: 1;
            max-height: unset;
            font-size: 20px !important;
        }

        .button-content {
            gap: 10px;
        }

        .special {
            background: var(--alt-color);
            max-height: 75px;
            justify-content: center;
        }

        .highlighted {
            background-color: var(--dark-brand-color);
            transform: translateX(-20px);
            transition: transform 0.3s ease;

            .button-content {
                animation: icon-slide 0.5s ease-in-out forwards;
            }

            &:hover {
                background-color: var(--dark-brand-color) !important;
            }
        }
    }

    .dropdown-background.flex {
        display: flex;
    }

    .dropdown-background.show {
        background: rgba(0, 0, 0, 0.5);
    }

    .menu-dropdown.show {
        left: 0;
    }

    .menu-icon.shake {
        animation: shake 0.25s ease-in-out 0s 1 alternate forwards;
    }

    @keyframes shake {
        0% {
            transform: translateX(0);
        }

        20% {
            transform: translateX(-5px);
        }

        40% {
            transform: translateX(5px);
        }

        60% {
            transform: translateX(-5px);
        }

        80% {
            transform: translateX(5px);
        }

        100% {
            transform: translateX(0);
        }
    }

    @keyframes icon-slide {
        from {
            transform: translateX(0);
        }

        to {
            transform: translateX(40px);
        }
    }
}

@media (max-width: 500px) {

    .menu-icon {
        width: unset;
    }
}

.piano-keys {
    display: flex;
    margin-right: 24px;
}

.white-key {
    width: 30px;
    height: 80px;
    background-color: #fff;
    border: 1px solid #000;
}

.black-key {
    width: 20px;
    height: 50px;
    background-color: #000;
    position: relative;
    left: -11px;
}