h3 {
    margin: 0;
}

h4 {
    margin: 0;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

::ng-deep .mat-date-range-input-container {
    justify-content: center;
}

::ng-deep .mat-date-range-input-wrapper {
    font-size: 20px;
}

::ng-deep .mat-date-range-input-end-wrapper {
    flex-grow: unset !important;
}

.admin-timeline-container {
    gap: 20px;
}

.date-range-picker {
    width: 100%;
}

mat-form-field {
    min-height: unset !important;
}

// .form-group {
//     height: 55px;
// }

.display-box {
    border-radius: 4px;
    padding: 10px;
    background-color: var(--bright-alt-color);

    mat-divider {
        margin: 8px 0;
    }

    form {
        flex-wrap: wrap;
        gap: 10px;
    }

    label {
        margin-bottom: 4px;
        font-size: 16px;
        font-weight: bold;
    }

    input {
        font-family: "Didact Gothic", sans-serif;
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: var(--light-color);
        font-size: 16px;
    }

    select {
        border-radius: 4px;
        font-family: "Didact Gothic", sans-serif;
        font-size: 16px;
        flex-grow: 1;
        height: 38.4px;
    }

    .relative {
        position: relative;
    }

    &__delete {
        cursor: pointer;
    }
}

.selected {
    font-weight: 600;

    &:hover {
        text-decoration: underline;
    }
}

.utility-btn {
    position: absolute;
    right: 0px;
    height: 24px;
    width: 24px;

    mat-icon {
        font-size: 24px;
        height: 24px;
        width: 24px;
    }
}

.timeline-box {
    gap: 20px;
    overflow: auto;
}

.daily-timeline {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 10px;
    background-color: #fff;

    h3 {
        margin-bottom: 10px;
        color: var(--brand-color);
    }
}

::ng-deep .timeline__box {
    width: 120px !important;
}