<div class="flex-col center-row section">

    <div class="home-content flex-col">
        <h1>Добро пожаловать в<br>
            <span class="sigma-font">ΣΙΓΜΑ</span><br>
        </h1>
        <span class="sigma-font lower-line">вокальное место</span>
        <p>Раскройте свой вокальный потенциал с помощью индивидуальных занятий по вокалу<br>с опытным профессионалом.
        </p>
        <button mat-button mat-raised-button>Пeрвоe занятие бeсплатнo!</button>
    </div>

    <img class="w-100 cover-img"
        src="https://img42.rajce.idnes.cz/d4202/19/19234/19234587_7120b7f029e3a19a3efd09788a59d31b/images/cat_S_sing2_png.jpg?ver=1"
        alt="Tutor in action">

    <!-- <img class="w-h-100 cover-img"
        src="https://res.cloudinary.com/dxunxtt1u/image/upload/cat_S_sing2_transparent_gscgub.png"
        alt="Tutor in action"> -->

</div>