<!-- <div class="jumbotron">
    <h1 class="display-4">Welcome to Our Vocal Studio!</h1>
    <p class="lead">We offer the best vocal training in the city.</p>
    <hr class="my-4">
    <p>Learn more about our services and instructors.</p>
    <a class="btn btn-primary btn-lg" routerLink="/services" role="button">Our Services</a>
</div> -->

<div class="home-container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Welcome to Our Vocal Studio!</mat-card-title>
            <mat-card-subtitle>We offer the best vocal training in the city.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p>Learn more about our services and instructors.</p>
        </mat-card-content>
        <mat-card-actions>
            <button mat-raised-button color="accent" routerLink="/services">Our Services</button>
        </mat-card-actions>
    </mat-card>
</div>