<div class="flex-col center-all section">

    <div class="home-content flex-col center-all">
        <h1>Добро пожаловать в<br>
            <span class="sigma-font">ΣΙΓΜΑ</span><br>
        </h1>
        <span class="sigma-font lower-line">вокальное место</span>
        <p>Раскройте свой вокальный потенциал с помощью индивидуальных занятий по вокалу с опытным профессионалом.
        </p>
        <button mat-button mat-raised-button (click)="openForm()">Пeрвоe занятие бeсплатнo!</button>
    </div>

    <img class="w-h-100 cover-img"
        src="https://res.cloudinary.com/dxunxtt1u/image/upload/cat_S_sing2_blur_edgoym.png"
        alt="Tutor in action" loading="lazy">

</div>