.section {
    justify-content: center;
}

.home-content {
    z-index: 2;

    .sigma-font {
        font-size: 40px;
    }
}

.home-img {
    z-index: 2;
    // height: 500px;
}

.cover-img {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    background-position: center;

    z-index: 1;
    opacity: 1;
}