.privacy-terms-wrapper {
    padding: 80px 5%;
    max-width: 800px;
    margin: 0 auto;

    h1 {
        margin-top: 40px;
        font-size: 36px;
        margin-bottom: 16px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }

    a {
        color: var(--alt-color);
    }
}

mat-panel-title {
    white-space: nowrap;
}

mat-expansion-panel {
    margin-top: 20px;
    border-radius: 4px;
    color: var(--light-color);
}

mat-expansion-panel-header {
    background: var(--light-brand-color) !important;
    height: 40px !important;
    font-size: 24px;
    border-radius: 0;
}

::ng-deep .mat-expansion-panel-body {
    background: var(--light-color) !important;
    color: #000;
}

#home-button {
    margin-top: 40px;
    width: 100%;
    max-width: 300px;
}