.privacy-terms-wrapper {
    padding: 20px;
    max-width: 800px;
    margin: 0 auto;

    h1 {
        font-size: 36px;
        margin-bottom: 16px;
    }

    p {
        font-size: 18px;
        line-height: 1.6;
    }
}