.content {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto;
    row-gap: 2vh;
}

.gallery-thumbs {
    grid-column: span 5;
    justify-content: flex-start;
    overflow: hidden;

    .swiper-thumbs {
        overflow: hidden;
        margin-top: 2vh;
        background-image: linear-gradient(to left, rgba(191, 173, 81, 0.5), transparent);
        border-bottom-right-radius: 4px;
    }

    .thumbs-slide {
        aspect-ratio: 1 / 1;
        max-width: 250px;
        max-height: 250px;
        cursor: pointer;
        transition: transform 0.3s ease;

        &:hover {
            transform: scale(0.95);
        }
    }

    .thumbnail-image {
        object-fit: cover;
        border-radius: 4px;
    }
}

.gallery-text {
    grid-column: span 7;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 5%;

    &__title {
        align-self: flex-start;
        padding: 10px 0;
        padding-top: 8px;
        width: calc(100% - 80px);
        margin-top: 2vh;
        background: rgb(191, 173, 81, 0.5);
        border-top-right-radius: 8px;
        border-bottom-right-radius: 8px;

        h3 {
            height: 32px;
            margin: 0 0 0 20px;
            font-size: 22px;
        }

        .sigma-font {
            font-size: 26px;
        }
    }

    &__description {
        max-width: 600px;
        margin: 10px 20px;
        font-size: calc(16px + 0.2vw);
        text-align: justify;
    }

    &__list {
        max-width: 600px;
        margin: 0 20px;
        margin-bottom: 10px;
        padding: 0;
    }

    &__item {
        padding: 3px 0;
        font-size: 16px;
        line-height: 20px;
        list-style-type: none;

        &::before {
            content: '';
            display: inline-block;
            width: 8px;
            height: 8px;
            margin-right: 10px;
            background-color: var(--light-alt-color);
            transform: rotate(45deg);
        }

        &:not(:last-child) {
            border-bottom: 1px solid var(--alt-color);
        }
    }
}

.reviews-text {
    grid-column: span 6;
    justify-content: flex-start;
    align-items: flex-end;
    margin-bottom: 2vh;
    padding-left: 5%;

    &__title {
        align-self: flex-end;
        padding: 10px 0;
        width: calc(100% - 80px);
        background: rgb(191, 173, 81, 0.5);
        border-top-left-radius: 8px;
        border-bottom-left-radius: 8px;

        h3 {
            height: 30px;
            margin: 0;
            margin-right: 20px;
            justify-content: flex-end;
            font-size: 22px;
        }
    }

    &__list {
        flex-grow: 1;
        margin: 0;
        padding: 10px 20px 0 20px;
    }

    &__item {
        position: relative;
        padding: 10px;
        font-size: 16px;
        line-height: 1.4;
        background: #ddeec4;
        border-left: 4px solid var(--light-alt-color);
        border-radius: 4px;
        list-style: none;

        &::before {
            content: '✓';
            font-weight: bold;
            color: var(--light-alt-color);
            position: absolute;
            left: -25px;
        }

        &:hover {
            background: rgba(191, 173, 81, 0.4);
            cursor: pointer;
        }
    }

    span {
        font-size: calc(12px + 0.2vw);
        margin: 10px 0;
    }
}

.reviews-slides {
    grid-column: span 6;
    align-items: flex-start;
    position: relative;
    overflow: hidden;
    margin-bottom: 2vh;
}

.swiper-reviews {
    flex-grow: 1;
    overflow: hidden;
    background-image: linear-gradient(to right, rgba(191, 173, 81, 0.5), transparent);
    border-bottom-left-radius: 4px;

    .reviews-wrapper {
        align-items: center;
        height: unset;
    }

    .reviews-slide {
        max-width: 400px;
        background: var(--light-color);
        color: var(--dark-color);
        border-radius: 4px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    }

    .reviews-header {
        gap: 10px;
        padding: 10px 30px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;

        .user-name {
            font-weight: bold;
            font-size: 18px;
        }

        .source-logo {
            width: 40px;
            height: 40px;
            object-fit: contain;
            border-radius: 4px;
        }
    }

    .reviews-content {
        margin: 10px 0;
        font-size: calc(10px + 0.25vw);
        text-align: justify;
        padding: 0 20px;
        color: var(--dark-alt-color);
    }

    // Colorize the slides depending on the Source
    .avito {
        background: linear-gradient(to right, rgba(3, 214, 94, 0.5), rgba(3, 214, 94, 0));
    }

    .yandex {
        background: linear-gradient(to right, rgba(255, 0, 0, 0.4), rgba(255, 0, 0, 0));
    }

    .google {
        background: linear-gradient(to right, rgba(66, 133, 244, 0.5), rgba(66, 133, 244, 0));
    }

    .profi {
        background: linear-gradient(to right, rgba(151, 50, 83, 0.5), rgba(66, 133, 244, 0));
    }

    // Slide transparency
    .swiper-slide-prev {
        opacity: 0.8;
    }

    .swiper-slide-next {
        opacity: 0.8;
    }
}

.content-mobile {
    display: none;
}

@media (max-width: 768px) {
    .section {
        height: unset;
    }

    .content {
        display: none;
    }

    .content-mobile {
        display: flex;
        gap: 20px;
    }

    .gallery-text {
        &__title {
            margin: 0;
            width: calc(100% - 40px);

            h3 {
                margin: 0;
                text-align: center;
            }
        }

        &__description {
            width: unset;
            font-size: 18px;
            margin: 0;
            padding: 0 20px;
        }

        &__list {
            width: unset;
            margin: 0;
            padding: 0 20px;
        }

        &__item {
            font-size: 18px;
        }
    }

    .gallery-thumbs {
        .swiper-thumbs {
            margin-top: 0;
            background-image: linear-gradient(to right, rgba(191, 173, 81, 0.5), transparent);
            padding: 10px 0;
        }
    }

    .reviews-text {
        margin: 0;
        width: 100%;
        align-items: center;

        &__title {
            width: calc(100% - 40px);

            h3 {
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0;
                justify-content: center;
            }
        }

        &__list {
            display: flex;
            flex-direction: column;
            padding: 0 20px 0 40px;
            gap: 6px;
        }

        &__item {
            font-size: 18px;
        }
    }

    .reviews-slides {
        width: 100%;
        margin: 0;
    }

    .swiper-reviews {
        background-image: linear-gradient(to left, rgba(191, 173, 81, 0.5), transparent);
        padding: 10px 0;

        .reviews-content {
            font-size: 14px;
        }
    }
}

@media (max-width: 600px) {
    .gallery-text {
        &__title {
            width: calc(100% - 20px);
        }
    }

    .reviews-text {
        &__title {
            width: calc(100% - 20px);
        }
    }

    .swiper-reviews {
        .reviews-slide {
            max-width: 360px;
        }
    }
}