<div class="flex-col section">

    <div class="flex-col plug">
        <h2>Studio</h2>
    </div>

    <div class="h-100 content">

        <div class="gallery-thumbs">
            <h3>Фотогалерея студии</h3>

            <!-- place for the gallery with thumbnails made with Swiper.js -->
            <!-- Each slide contains 2*1 thumbnails. Smooth scrolling with no jumps -->
            <!-- on click open the dialog with the gallery component on the photo clicked -->

        </div>

        <div class="flex-col gallery-text">
            <span>
                Студия ΣΙΓΜΑ расположена в Московском районе Санкт-Петербурга. Это творческое пространство с уютной
                атмосферой, оснащённое необходимым оборудованием. Здесь вы сможете эффективно развивать свои навыки и
                способности.
            </span>
        </div>

        <div class="flex-col reviews-text">
            <h3>Отзывы</h3>
            <span>
                Более 100 учеников вместе с <span class="sigma-font">ΣΙΓΜΑ</span> раскрыли свой талант. Начните и вы!
            </span>
        </div>

        <div class="reviews-tagcloud">
            <!-- place for 3d tag cloud with screenshots of the reviews -->
            <!-- (not created yet) -->
        </div>

    </div>

</div>