<div class="flex-col dialog-form-wrapper">
    <div class="flex-row center-row form-header">
        <h2>Новое занятие</h2>
        <div class="utility-btn" (click)="closeDialog()">
            <mat-icon>close</mat-icon>
        </div>
    </div>

    <!-- StartState -->
    <ng-container *ngIf="currentFormState === FormClassState.Start">
        <div class="flex-row user-type-toggle">
            <button class="flex-col center-row toggle-btn toggle-btn_newbie" (click)="onUserTypeSelect('new')">
                <img class="h-100 toggle-btn__img toggle-btn__img_newbie" alt="new user" loading="lazy"
                    src="https://res.cloudinary.com/dxunxtt1u/image/upload/cat_novice_xyjz3q.png" />
                <span class="toggle-btn__text">Хочу начать</span>
            </button>
            <mat-divider [vertical]="true"></mat-divider>
            <button class="flex-col center-row toggle-btn toggle-btn_activesub" (click)="onUserTypeSelect('signed')">
                <img class="h-100 toggle-btn__img toggle-btn__img_activesub" alt="existing user" loading="lazy"
                    src="https://res.cloudinary.com/dxunxtt1u/image/upload/cat_pro_nllrwi.png" />
                <span class="toggle-btn__text">Уже занимаюсь</span>
            </button>
        </div>
    </ng-container>

    <!-- NewbieState -->
    <ng-container *ngIf="currentFormState === FormClassState.Newbie">
        <form class="flex-col center-col" [formGroup]="newbieForm" (ngSubmit)="onSubmit()">

            <div class="flex-row center-row back" (click)="goBackToStart()">
                <mat-icon>arrow_back_ios_new</mat-icon>Назад
            </div>

            <label class="label" for="name">Имя</label>
            <input class="input" type="text" formControlName="name" placeholder="Ваше имя" />

            <label class="label" for="phone">Телефон</label>
            <input class="input" type="text" formControlName="phone" placeholder="Укажите один или несколько способов связи" />
            
            <label class="label" for="telegram">Telegram</label>
            <input class="input" type="text" formControlName="telegram" placeholder="Укажите один или несколько способов связи" />

            <label class="label" for="telegram">e-mail</label>
            <input class="input" type="email" formControlName="email" placeholder="Укажите один или несколько способов связи" />

            <label class="label" for="message">Комментарий</label>
            <textarea class="textarea" type="message" formControlName="message"
                placeholder="Комментарий (необязательно)"></textarea>

            <div class="disclaimer">
                Нажимая Отправить, вы соглашаетесь с
                <!-- By clicking Submit you agree with the -->
                <span (click)="closeDialogAndNavigate()" class="privacy-terms">политикой конфиденциальности</span>
            </div>

            <button mat-button mat-raised-button type="submit" class="submit__button">Отправить</button>

        </form>
    </ng-container>

    <!-- ActiveSubState -->
    <ng-container *ngIf="currentFormState === FormClassState.ActiveSub">
        <form class="flex-col center-col" [formGroup]="activeSubForm" (ngSubmit)="onSubmit()">

            <div class="flex-row center-row back" (click)="goBackToStart()">
                <mat-icon>arrow_back_ios_new</mat-icon>Назад
            </div>

            <label class="label" for="name">Имя</label>
            <input class="input input_name" type="text" formControlName="name" placeholder="Ваше имя" readonly />

            <label class="label">
                Дата и время
                <!-- Date and time -->
            </label>
            <div class="flex-row date-time">
                <mat-form-field>
                    <mat-label>
                        ДД.ММ.ГГГГ
                        <!-- DD.MM.YYYY -->
                    </mat-label>
                    <input matInput [matDatepickerFilter]="weekendFilter" (dateChange)="onDateChange($event)"
                        [matDatepicker]="picker" formControlName="date" readonly>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker>
                        <mat-datepicker-actions>
                            <button mat-raised-button matDatepickerCancel>
                                отменить
                                <!-- Cancel -->
                            </button>
                            <button mat-raised-button matDatepickerApply>
                                подтвердить
                                <!-- Apply -->
                            </button>
                        </mat-datepicker-actions>
                    </mat-datepicker>
                </mat-form-field>

                <!-- <label class="label" for="time">Time</label> -->
                <input class="input input_time" type="time" formControlName="time" placeholder="Время" readonly />
            </div>

            <!-- Timeline for visualizing the free & occupied slots -->
            <app-timeline [classes]="classesForSelectedDate" [selectedDate]="selectedDate" [currentTime]="currentTime"
                (slotClicked)="onTimeSlotSelected($event)"></app-timeline>

            <label class="label" for="message">
                Комментарий
                <!-- Message -->
            </label>
            <textarea class="textarea" type="message" formControlName="message"
                placeholder="Комментарий (необязательно)"></textarea>

            <button mat-buttom mat-raised-button type="submit" class="submit__button">
                Отправить
                <!-- Submit -->
            </button>

        </form>
    </ng-container>

    <!-- Error Box *ngIf="errorMessage" -->
    <div class="flex-row center-all error-box"
        *ngIf="currentFormState === FormClassState.Newbie || currentFormState === FormClassState.ActiveSub">
        <span>{{ errorMessage }}</span>
    </div>

    <!-- SubmitState -->
    <div class="flex-col center-all flex-grow submit"
        *ngIf="currentFormState !== FormClassState.Start && currentFormState !== FormClassState.Newbie && currentFormState !== FormClassState.ActiveSub">
        <mat-spinner *ngIf="currentFormState === FormClassState.Submit"></mat-spinner>
        <p class="submit__message" *ngIf="currentFormState === FormClassState.Success">
            Ваша заявка отправлена!
        </p>
        <p class="submit__message"
            *ngIf="currentFormState === FormClassState.Success && prevFormState === FormClassState.Newbie">
            Пожалуйста, подождите, пока я свяжусь с вами.
            <!-- Please wait until I contact you. -->
        </p>
        <p class="submit__message"
            *ngIf="currentFormState === FormClassState.Success && prevFormState === FormClassState.ActiveSub">
            Вы успешно записались на следующее занятие в <span class="sigma-font">ΣΙΓΜΑ</span>
            <!-- You've signed up for your next class with <span class="sigma-font">ΣΙΓΜΑ</span> -->
        </p>
        <p class="submit__message" *ngIf="currentFormState === FormClassState.Error">
            Произошла ошибка во время отправления запроса. Пожалуйста, попробуйте снова.
            <!-- Error while submitting the form. Please try again. -->
        </p>
    </div>

    <!-- Telegram Bot -->
    <div class="flex-col center-all form-footer"
        *ngIf="currentFormState !== FormClassState.Submit && currentFormState !== FormClassState.Success && currentFormState !== FormClassState.Error">
        <span class="form-footer__text">
            Или запишитесь на занятие через
            <!-- Or sign up for a class via the -->
        </span>
        <span class="form-footer__bot">
            Telegram бота
            <!-- Telegram bot -->
        </span>
    </div>
</div>