.user-list-container {
    gap: 20px;
}

h3 {
    margin: 0;
    text-align: center;
}

p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0;
}

label {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 4px;
}

mat-divider {
    margin: 8px 0;
}

// DISPLAY BOX
.display-box {
    flex: 2;
    background: var(--bright-alt-color);
    border-radius: 4px;
    padding: 10px;
}

.selected-user {
    &__details {
        flex: 1;
    }

    &__classes {
        flex: 1;
    }
}

.form-group {
    &:not(:first-child) {
        margin-top: 8px;
    }

    input {
        padding: 8px;
        border: 1px solid #ccc;
        background: var(--light-color);
        border-radius: 4px;
        font-size: 1em;

        &:read-only {
            background: var(--light-color);
        }
    }
}

.user-group {
    gap: 10px;

    &__img {
        width: 80px;
        height: 80px;
        border-radius: 8px;
        object-fit: cover;
    }

    &__name {
        flex-grow: 1;
    }
}

.special-group {
    gap: 10px;
}

.membership-group {
    width: 150px;
    position: relative;

    input {
        flex: 1;
        background: #fff !important;

        &:disabled {
            opacity: 0.7;
        }
    }

    button {
        padding: 6px;
    }
}

.utility-btn {
    cursor: pointer;
    position: absolute;

    mat-icon {
        font-size: 24px;
        opacity: 0.8;
        transition:
            transform 0.3s,
            opacity 0.3s;

        &:hover {
            transform: scale(1.1);
            opacity: 1;
        }
    }

    &_details {
        right: 0px;
    }

    &_class-edit {
        top: 2px;
        right: 42px;
        background: var(--light-color);
        height: 24px;
        border-radius: 4px;
    }

    &_class-cancel {
        top: 2px;
        right: 2px;
        background: var(--light-color);
        height: 24px;
        border-radius: 4px;
    }
}

.classes-list {
    padding: 8px;
    border-radius: 4px;
    background-color: var(--light-color);
    gap: 10px;
    min-height: 40px;
}

.my-classes {
    &__item {
        border-radius: 4px;
        position: relative;

        p {
            margin: 0;
        }

        mat-divider {
            margin: 0;
        }
    }

    &__status {
        padding: 4px 20px;
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        background: var(--bright-alt-color);
        color: var(--light-color);

        &_confirmed {
            background-image: linear-gradient(to right, var(--light-brand-color), transparent);
        }

        &_cancelled {
            background-image: linear-gradient(to right, var(--warn-color), transparent);
        }

        &_pending {
            background-image: linear-gradient(to right, var(--alt-color), transparent);
        }

        &_executed {
            background-image: linear-gradient(to right, var(--gray-color), transparent);
        }
    }

    &__time {
        padding: 4px 20px;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
        background: var(--bright-alt-color);
    }
}

// USERS BOX
.users-box {
    flex: 1;
    max-width: 300px;
    background: var(--bright-alt-color);
    border-radius: 4px;
    padding: 10px;
    max-height: 600px;
}

.search-bar {
    input {
        padding: 8px;
        border: 1px solid #ccc;
        background: #fff;
        border-radius: 4px;
        font-size: 1em;

        &:read-only {
            background: var(--light-color);
        }
    }
}

.users-list {
    justify-content: flex-start;
    border-radius: 4px;
    margin-top: 10px;
    overflow-y: auto;
    background: var(--light-color);
}

.user-item {
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s;

    &.selected {
        background-color: var(--brand-color);
        color: var(--light-color);

        .user-item__name {
            font-weight: 400;
        }

        &:hover {
            background-color: var(--brand-color);
        }
    }

    &:hover {
        background-color: var(--light-brand-color);

        .user-item__name {
            font-weight: 400;
        }
    }

    &:first-child {
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
    }

    &:last-child {
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 4px;
    }

    &__avatar {
        width: 40px;
        height: 40px;
        border-radius: 4px;
        object-fit: cover;
        margin-right: 10px;
    }

    &__name {
        font-weight: bold;
        margin: 0;
    }
}

@media (max-width: 768px) {
    .user-list-container {
        flex-direction: column;
    }

    .users-box {
        max-width: unset;
    }

    .special-group {
        flex-direction: column;
    }

    .membership-group {
        width: 100%;
    }
}