<div class="user-list-container">

    <!-- Display Box -->
    <div class="display-box">
        <h3 class="w-100">Карточка ученика</h3>
        <mat-divider></mat-divider>

        <div class="selected-user">

            <!-- User Form populated by the selected user -->
            <form [formGroup]="displayForm" class="flex-col selected-user__details">

                <!-- User pic and name -->
                <div class="flex-row user-group">
                    <!-- User Picture -->
                    <img [src]="selectedUser()?.img ? selectedUser()?.img : imgDefault" alt="{{ selectedUser()?.name }}"
                        class="user-group__img">
                    <!-- Name -->
                    <div class="form-group user-group__name">
                        <label>имя:</label>
                        <input type="text" formControlName="name" readonly>
                    </div>
                </div>

                <div class="flex-row special-group">
                    <!-- Membership Points - Editable -->
                    <div class="form-group membership-group">
                        <div class="utility-btn utility-btn_details" (click)="toggleMembershipEdit()">
                            <mat-icon>{{ isMembershipEditing() ? 'done_all' : 'edit' }}</mat-icon>
                        </div>
                        <label>абонемент:</label>
                        <input type="number" formControlName="membership" [readonly]="!isMembershipEditing">
                    </div>
                    <!-- Telegram -->
                    <div class="form-group flex-grow">
                        <label>telegram:</label>
                        <input type="text" formControlName="telegram" readonly>
                    </div>
                </div>

                <!-- Phone -->
                <div class="form-group">
                    <label>телефон:</label>
                    <input type="text" formControlName="phone" readonly>
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label>email:</label>
                    <input type="email" formControlName="email" readonly>
                </div>
            </form>

            <!-- Classes -->
            <div class="selected-user__classes">
                <label>занятия:</label>
                <div class="flex-col classes-list">

                    <!-- Loaded classes list for the selected user -->
                    <div *ngFor="let cls of selectedUserClasses(); let last = last" class="w-100 my-classes__item">

                        <!-- Delete button -->
                        <div class="utility-btn utility-btn_class-edit" (click)="editClass(cls)">
                            <mat-icon>edit</mat-icon>
                        </div>

                        <!-- Delete button -->
                        <div class="utility-btn utility-btn_class-cancel" (click)="deleteClass(cls)">
                            <mat-icon>cancel</mat-icon>
                        </div>

                        <!-- Class Status -->
                        <p [ngClass]="{
                                    'my-classes__status_confirmed': cls.status === 'confirmed',
                                    'my-classes__status_cancelled': cls.status === 'cancelled',
                                    'my-classes__status_pending': cls.status === 'pending',
                                    'my-classes__status_executed': cls.status === 'executed'
                                    }" class="my-classes__status">
                            Статус: {{ cls.status }}
                        </p>
                        <mat-divider></mat-divider>
                        <div class="flex-row my-classes__time">
                            <p>Дата: {{ cls.startdate | date:'dd.MM.yyyy' }}</p>
                            <p>Время: {{ cls.startdate | date:'HH:mm' }} - {{ cls.enddate | date:'HH:mm' }} </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Users Box -->
    <div class="users-box">
        <h3>Список учеников</h3>
        <mat-divider></mat-divider>

        <!-- Search Bar -->
        <form [formGroup]="searchForm" class="search-bar">
            <input class="w-100" id="search-input" type="text" placeholder="Поиск" formControlName="search">
        </form>

        <!-- All users list -->
        <div class="users-list flex-grow">
            <div class="user-item" *ngFor="let user of filteredUsers()" (click)="selectUser(user)"
                [class.selected]="user.id === selectedUser()?.id">
                <img [src]="user.img ? user.img : imgDefault" alt="{{ user.name }}" class="user-item__avatar">
                <p class="user-item__name">{{ user.name }}</p>
            </div>
        </div>
    </div>
</div>