.mat-mdc-button-base {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 4px;

    padding: 5px 8px;
    line-height: 100%;

    font-weight: 500;
    font-size: 13px;
    text-align: center;

    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

    .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

// .mat-mdc-stroked-button {
//     border: 1px solid #cad7ed;
//     color: #8098bf;
//     background-color: transparent;

//     &.mat-button-disabled {
//         border-color: rgba(0, 0, 0, 0.26);
//     }

//     &:hover:not(.mat-button-disabled) {
//         background-color: #f8fafe;
//         color: var(--primary-color);
//     }
// }

// .mat-mdc-stroked-button.mat-primary:not(.mat-button-disabled) {
//     border-color: #cad7ed;
//     color: #8098bf;
// }

.mat-mdc-icon-button {
    height: inherit;
    background-color: var(--brand-color);
    color: var(--light-color);

    .mat-icon {
        font-size: 36px;
        width: 36px;
        height: 34px;
        line-height: 36px;
        color: var(--primary-color);
    }

    &.mat-button-disabled {
        border-color: rgba(0, 0, 0, 0.26);
    }

    &:hover:not(.mat-button-disabled) {
        background-color: var(--shaded-brand-color) !important;
    }
}

.mat-mdc-raised-button {
    background-color: var(--brand-color) !important;
    color: var(--light-color) !important;
    border: none !important;
    cursor: pointer;
    border-radius: 4px !important;
    min-height: 40px;
    font-family: "Didact Gothic", sans-serif;
    font-style: normal;
    flex-grow: 1;

    transition:
        background-color 0.25s ease-in-out,
        transform 0.25s ease-in-out !important;

    mat-icon {
        transition: margin-left 0.25 ease-in-out;
    }

    &:hover:not(.mat-button-disabled) {
        background-color: var(--shaded-brand-color) !important;
    }

    &:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }

    &.active {
        transform: translateY(-10px);
        background-color: var(--dark-brand-color) !important;
    }
}