.mat-mdc-button-base {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    padding: 5px 8px;
    line-height: 100%;

    min-width: 75px;
    font-weight: 500;
    font-size: 13px;
    text-align: center;

    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

    .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    // &.inp-button-medium {
    //     min-height: 36px;
    // }
}

.mat-mdc-stroked-button {
    border: 1px solid #cad7ed;
    color: #8098bf;
    background-color: transparent;

    &.mat-button-disabled {
        border-color: rgba(0, 0, 0, 0.26);
    }

    &:hover:not(.mat-button-disabled) {
        background-color: #f8fafe;
        color: var(--primary-color);
    }
}

.mat-mdc-stroked-button.mat-primary:not(.mat-button-disabled) {
    border-color: #cad7ed;
    color: #8098bf;
}

.mat-mdc-icon-button {
    border: 1px solid #cad7ed;
    color: #8098bf;
    background-color: transparent;

    padding: 4px;
    height: 40px;
    min-width: unset;
    width: auto;

    .mat-icon {
        font-size: 21px;
        width: 21px;
        height: 21px;
        line-height: 21px;
        color: var(--primary-color);
    }

    &.mat-button-disabled {
        border-color: rgba(0, 0, 0, 0.26);
    }

    &:hover:not(.mat-button-disabled) {
        background-color: #f8fafe;
        color: var(--primary-color);
    }
}

.mat-mdc-raised-button {
    background-color: var(--brand-color);
    color: #ffff;
    transition:
        background-color 0.25s ease-in-out,
        // justify-content 0.5s ease-in-out,
        transform 0.5s ease-in-out !important;
    // justify-content 0.5s ease-in-out;
    // transition: justify-content 0.5s ease-in-out !important;

    mat-icon {
        transition: margin-left 0.25 ease-in-out;
    }

    &:hover:not(.mat-button-disabled) {
        background-color: var(--shaded-brand-color) !important;
    }

    &:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }

    &.secondary {
        background-color: #fff;
        border: 1px solid #CAD7ED;
        color: #8098BF;

        &:hover {
            background: #2771ee;
            color: #fff;
        }
    }

    &.active {
        transform: translateY(-10px);
        background-color: var(--dark-brand-color) !important;
    }
}