.mat-button-base.inp-button {
    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 5px;

    padding: 5px 8px;
    line-height: 100%;

    min-width: 75px;
    font-weight: 500;
    font-size: 13px;
    text-align: center;

    transition: background-color 250ms ease-in-out, color 250ms ease-in-out;

    .mat-button-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &.inp-button-medium {
        min-height: 36px;
    }
}

.mat-stroked-button.inp-button {
    border: 1px solid #cad7ed;
    color: #8098bf;
    background-color: transparent;

    &.mat-button-disabled {
        border-color: rgba(0, 0, 0, 0.26);
    }

    &:hover:not(.mat-button-disabled) {
        background-color: #f8fafe;
        color: var(--primary-color);
    }
}

.mat-icon-button.inp-button {
    border: 1px solid #cad7ed;
    color: #8098bf;
    background-color: transparent;

    padding: 4px;
    height: 40px;
    min-width: unset;
    width: auto;

    .mat-icon {
        font-size: 21px;
        width: 21px;
        height: 21px;
        line-height: 21px;
        color: var(--primary-color);
    }

    &.mat-button-disabled {
        border-color: rgba(0, 0, 0, 0.26);
    }

    &:hover:not(.mat-button-disabled) {
        background-color: #f8fafe;
        color: var(--primary-color);
    }
}

.mat-raised-button.inp-button {
    background-color: var(--primary-color);

    color: #ffff;

    &:hover:not(.mat-button-disabled) {
        background-color: #2771ee;
    }

    &:not([class*=mat-elevation-z]) {
        box-shadow: none;
    }

    &.secondary {
        background-color: #fff;
        border: 1px solid #CAD7ED;
        color: #8098BF;

        &:hover {
            background: #2771ee;
            color: #fff;
        }
    }
}

.mat-stroked-button.mat-primary:not(.mat-button-disabled) {
    border-color: #cad7ed;
    color: #8098bf;
}
