@import './styles/colors.scss';
@import './styles/utilites.scss';
@import './styles/scrollbar.scss';
@import './styles/links.scss';
@import './styles/dialog.scss';
@import './styles/buttons/buttons.scss';
@import './styles/inputs/inputs.scss';

@font-face {
    font-family: 'BlackerSansDisplayTrial';
    src: '/src/assets/fonts/blacker-sans-display-trial-bold.ttf' format('truetype');
    // src: url('https://fonts.cdnfonts.com/css/blacker-sans-display-trial') format('truetype');
    font-weight: bold;
    font-style: normal;
}

html,
body {
    height: 100%;
    background: var(--bright-brand-color);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.sigma-font {
    font-family: 'Blacker Sans Display Trial', sans-serif;
    font-weight: bold;
}

.section {
    height: 100vh;
}

.plug {
    background-color: var(--brand-color);
}

h2 {
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

// "@angular/material/prebuilt-themes/magenta-violet.css",