@import './styles/colors.scss';
@import './styles/utilites.scss';
@import './styles/scrollbar.scss';
@import './styles/links.scss';
@import './styles/dialog.scss';
@import './styles/buttons/buttons.scss';
@import './styles/inputs/inputs.scss';
@import './styles/datepicker.scss';
@import '../node_modules/swiper/swiper-bundle.min.css';

// @import '@angular/material/prebuilt-themes/magenta-violet.css';

@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap');
@import url('https://fonts.cdnfonts.com/css/blacker-sans-display-trial');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&display=swap');

// @font-face {
//     font-family: 'BlackerSansDisplayTrial';
//     src: '/src/assets/fonts/blacker-sans-display-trial-bold.ttf' format('truetype');
//     // src: url('https://fonts.cdnfonts.com/css/blacker-sans-display-trial') format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: "Didact Gothic", sans-serif;
//     src: '/src/assets/fonts/DidactGothic-Regular.ttf' format('truetype');
//     // src: url('https://fonts.googleapis.com/css2?family=Didact+Gothic&display=swap') format('truetype');
//     font-weight: 400;
//     font-style: normal;
// }

html,
body {
    height: 100%;
    background: var(--bright-brand-color);
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-family: "Didact Gothic", sans-serif;
}

.sigma-font {
    font-family: 'Blacker Sans Display Trial', sans-serif;
    font-weight: 600;
    font-size: 28px;
}

.roboto-font {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.didact-gothic-regular {
    font-family: "Didact Gothic", sans-serif;
    font-style: normal;
}

.andika-regular {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.andika-bold {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.andika-regular-italic {
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.andika-bold-italic {
    font-family: "Andika", sans-serif;
    font-weight: 700;
    font-style: italic;
}

// app-main {
//     max-width: 1600px;
// }

.section {
    height: 100vh;
}

.plug {
    color: var(--brand-color);
    background: var(--bright-brand-color);
}

h2 {
    height: 80px;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ol-viewport {
    border-radius: 8px;
}

.ol-overlaycontainer-stopevent {
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ol-zoom {
    pointer-events: auto;
    border-radius: 10px;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    margin: 10px;
}

.ol-zoom-in {
    background: var(--light-color);
    width: 40px;
    height: 30px;
    border: none;
    border-left: 1px solid grey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    font-size: 26px;
}

.ol-zoom-out {
    background: var(--light-color);
    width: 40px;
    height: 30px;
    border: none;
    border-right: 1px solid var(--gray-color);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 22px;
    font-weight: 600;
}

.ol-rotate {
    display: none;
}

.ol-attribution {
    display: none;
}

.logocontrol {
    margin: 2px;
}

.no-scroll {
    overflow: hidden;
    height: 100%;
    width: 100%;
}

.custom-backdrop {
    display: flex;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: 100%;
    top: 0;
    z-index: 10;
}

.cdk-global-overlay-wrapper {
    display: flex;
    position: fixed;
    top: 0;
    z-index: 20;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

.mdc-dialog__surface {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.image-viewer-dialog {
    height: 80vh;
    aspect-ratio: 3 / 2;
    pointer-events: auto;
    // width: 100%;
}

.new-class-form-dialog {
    pointer-events: auto;
}

// datepicker
.cdk-overlay-connected-position-bounding-box {
    position: fixed;
    pointer-events: none;
    // top: -150px !important;
    // left: 250px !important;
    // top: 120px !important;
    // left: 240px !important;
    width: unset !important;
}

.mat-datepicker-content .mat-calendar {
    height: fit-content !important;
}

.mat-calendar-controls {
    margin: 10px !important;
}

.mat-calendar-period-button {
    display: contents !important;
}

.mat-datepicker-toggle {
    background-color: transparent !important;
}

.mat-mdc-form-field-subscript-wrapper {
    display: none;
}

.mat-mdc-form-field-flex {
    height: 40px;
    align-items: center !important;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border: 1px solid #ccc;
    background: #fff !important;
}

.mat-datepicker-input {
    padding: 0 10px !important;
}

.mat-mdc-form-field-has-icon-suffix .mat-mdc-text-field-wrapper {
    padding: 0;
}

.mdc-floating-label {
    height: 20px !important;
    top: 10px !important;
    left: 10px !important;
}

@media (max-width: 768px) {
    app-header {
        height: auto;
    }

    .cdk-overlay-pane.mat-mdc-dialog-panel {
        max-width: none !important;
        display: flex;
        align-items: center;
        height: unset;
    }

    .mat-mdc-dialog-container {
        width: unset;
        height: unset;
    }

    .mat-mdc-dialog-inner-container {
        height: unset;
    }

    .image-viewer-dialog {
        height: 100% !important;
    }
}

@media (max-width: 600px) {
    .cdk-overlay-pane.mat-mdc-dialog-panel {
        width: 100%;
        height: 100%;
    }
}

// "@angular/material/prebuilt-themes/magenta-violet.css",