.content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    padding: 0 5%;
}

.left-col {
    margin-right: 20px;
}

.wrapper {
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: var(--light-color);
    box-shadow: 0 0 4px var(--dark-alt-color);
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;

    &__title {
        margin: 15px 0;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
    }
}

// Aligning cards based on their position in the grid
.cards .card:nth-child(1),
.cards .card:nth-child(3) {
    justify-self: flex-end;
}

.cards .card:nth-child(2),
.cards .card:nth-child(4) {
    justify-self: flex-start;
}

.card {
    justify-content: flex-start;
    overflow: hidden;
    min-width: 250px;
    max-width: 300px;
    min-height: 250px;
    max-height: 300px;
    background-color: var(--light-color);
    box-shadow: 0 0 4px var(--dark-alt-color);
    border-radius: 20px;

    &__header {
        margin-bottom: 8px;
        font-size: 18px;
    }

    &__icon {
        width: 20%;
        max-width: 60px;
        height: auto;
    }

    &__content {
        font-size: calc(12px + 0.1vw);
        color: var(--dark-alt-color);
        text-align: justify;
    }
}

.right-col {
    align-items: flex-start;
}

.price {
    max-width: 400px;
    margin-top: 40px;
    font-size: 16px;

    &__first {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
    }

    button {
        width: 300px;
        height: 60px;
        margin: 15px 0;
        background: linear-gradient(70deg, var(--light-brand-color), var(--light-alt-color) 110%);
        border: none;
        border-radius: 30px;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 8px var(--alt-color);
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }

    &__list {
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }

    &__table {
        width: 100%;
        border-spacing: 0 10px;
        color: var(--dark-alt-color);

        td {
            padding: 8px 0;
            font-size: 16px;
            border-bottom: 1px solid var(--dark-alt-color);

            span {
                font-size: 12px;
            }

            &:first-child {
                color: #000;
                width: 60%;
            }

            &:last-child {
                text-align: right;
                width: 40%;
            }
        }
    }
}

.info {
    max-width: 400px;
    margin-top: 20px;

    span {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }

    .btns {
        justify-content: space-around;
    }

    button {
        width: 150px;
        height: 50px;
        background: var(--light-brand-color);
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 0 4px var(--dark-brand-color);
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}

@media (max-width: 768px) {
    .section {
        height: unset;
    }

    .content {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(768px, 1fr));
        gap: 40px;
        padding: 0;
        width: 100%;
        margin-bottom: 40px;
        align-items: center;
        justify-items: center;
        transition: grid-template-columns 0.3s ease;
    }

    .left-col {
        margin-right: 0;

        &__wrapper {
            padding: 0 40px;
        }
    }

    .right-col {
        width: 100%;
        align-items: center;
        background: var(--light-color);
        box-shadow: 0 0 4px var(--dark-alt-color);
    }

    .cards {
        grid-template-columns: repeat(auto-fill, minmax(275px, 1fr));
        margin-bottom: 0;
        justify-items: center;
        transition: grid-template-columns 0.3s ease;
        width: 100%;

        &__title {
            margin: 20px 0;
            font-size: calc(22px + 0.5vw);

            ::ng-deep .sigma-font {
                font-size: calc(28px + 0.5vw);
            }
        }
    }

    .card {
        min-height: unset;
        max-height: unset;
        min-width: unset;
        max-width: unset;

        &__header {
            font-size: calc(18px + 0.5vw);
        }

        &__content {
            font-size: calc(12px + 0.5vw);
        }
    }
}