.content {
    display: grid;
    grid-template-columns: 6fr 4fr;
    grid-template-rows: 1fr;
    // gap: 5%;
    padding: 0 5%;
}

.left-col {
    margin-right: 20px;
}

.wrapper {
    background-color: var(--light-color);
    box-shadow: 0 0 4px var(--dark-alt-color);
    padding: 20px;
    justify-content: flex-start;
}

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
    margin-bottom: 20px;
    align-items: center;

    &__title {
        margin: 15px 0;
        font-size: 22px;
        font-weight: 500;
        line-height: 30px;
    }
}

.card {
    border-radius: 20px;
    background-color: var(--light-color);
    box-shadow: 0 0 4px var(--dark-alt-color);
    max-height: 300px;
    max-width: 300px;

    &__header {
        font-size: 22px;
        margin-bottom: 8px;
    }

    &__icon {
        width: 60px;
        height: 60px;
    }

    &__content {
        font-size: 14px;
        color: var(--dark-alt-color);
        text-align: justify;
    }
}

.right-col {
    align-items: flex-start;
}

.price {
    max-width: 400px;
    margin-top: 40px;
    font-size: 16px;

    &__first {
        font-weight: 600;
        font-size: 22px;
        text-align: center;
    }

    button {
        width: 300px;
        height: 60px;
        margin: 15px 0;
        background: linear-gradient(70deg, var(--light-brand-color), var(--light-alt-color) 110%);
        border: none;
        border-radius: 30px;
        color: #fff;
        font-size: 18px;
        box-shadow: 0 0 8px var(--alt-color);
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }


    &__list {
        font-size: 20px;
        text-align: center;
        margin-bottom: 0;
    }

    &__table {
        color: var(--dark-alt-color);
        width: 100%;
        border-spacing: 0 10px;

        td {
            padding: 8px 0;
            font-size: 16px;
            border-bottom: 1px solid var(--dark-alt-color);

            span {
                font-size: 12px;
            }

            &:first-child {
                color: #000;
                width: 60%;
            }

            &:last-child {
                text-align: right;
                width: 40%;
            }
        }
    }
}

.info {
    max-width: 400px;
    margin-top: 20px;

    span {
        font-size: 20px;
        text-align: center;
        margin-bottom: 15px;
    }

    .btns {
        justify-content: space-around;
    }

    button {
        width: 150px;
        height: 50px;
        background: var(--light-brand-color);
        border: none;
        border-radius: 25px;
        color: #fff;
        font-size: 16px;
        box-shadow: 0 0 4px var(--dark-brand-color);
        transition: transform 0.3s;

        &:hover {
            transform: scale(1.05);
        }
    }
}